.scrollComponent {
    display: flex;
    justify-content: center;
}
.createPostContainer {
    display: flex;
    height: 10svh;
    width: 100%;
    padding-inline: 0.8rem;
    gap: 1.3rem;
    align-items: center;
    background: rgb(255, 246, 246);
    border-radius: 20px;
    position: relative;
}
.wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    max-width: 80%;
}
.uploadButton {
    position: absolute;
    right: 0;
    bottom: -45%;
    background: rgb(0, 153, 102);
    color: white;
    border-radius: 10px;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    cursor: pointer;
}
.userProfile {
    border-radius: 100%;
    height: 60%;
    width: fit-content;
}
.createPostContainer > textarea {
    width: 100%;
}
.Fab {
    background: rgb(0, 69, 153);
    border-radius: 100%;
    display: flex;
    justify-content: center;
}
.Fab > svg {
    width: fit-content;
    height: 30px;
    color: white;
}
.textAreaOfContent {
    width: 80%;
    height: 70%;
    border: 1px solid silver;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding-inline: 1.5rem;
    padding-block: 0.8rem;
    outline: none;
}
.singlrCard {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 1px solid rgb(179, 179, 179);
}
.singleCard__profileContainer {
    display: flex;
    align-items: flex-start;
    gap: 1.2rem;
    padding: 1.2rem;
    padding-right: 3.4rem;
}
.singleCard__profileContainer > img {
    width: 10%;
    border-radius: 50%;
}
.singleCard__image {
    width: 100%;
    padding-top: 0.6rem;
    height: fit-content;
    overflow: hidden;
}
.singleCard__image > img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}
.optionsContainer {
    display: flex;
    height: 20%;
    width: 100%;
    justify-content: space-between;
    padding-block: 0.6rem;
}
.singleOption__optionsContainer {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    justify-content: center;
    cursor: pointer;
}
.singleOption__optionsContainer > svg {
    height: 100%;
    width: 10%;
}
.commentsContainer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 2;
    background: rgb(0, 0, 0, 0.7);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.allCommentsContainer {
    width: 40vw;
    height: 80vh;
    background: white;
    border-radius: 10px;
    position: relative;
    padding: 1.4rem;
}
.postCommentContainer {
    position: absolute;
    bottom: 1.2rem;
    left: 1.2rem;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}
.postCommentContainer > input {
    flex: 0.9;
    padding-inline: 1.5rem;
    padding-block: 1.2rem;
    border: none;
    outline: none;
    background-color: rgb(228, 228, 228);
    border-radius: 10px;
}
.postCommentContainer > input:focus {
    border: 1px solid silver;
}
.postCommentContainer__commentBtn {
    flex: 0.1;
    width: fit-content;
    padding: 1.1rem;
    background: orange;
    border-radius: 10px;
    text-align: center;
    color: white;
    cursor: pointer;
}
