.container {
    font-family: "Poppins";
    padding: 1.2rem;
}
.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding-inline: 2rem;
    height: 80vh;
}
.mainContainer__left {
    flex: 0.5;
}
.mainContainer__right {
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer__right img {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}
.mainContainer__left > p:nth-child(1) {
    font-size: 2.7rem;
    background: -webkit-linear-gradient(45deg, #000000, #b2b2b2);
    background-clip: text;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
}
.mainContainer__left > p:nth-child(2) {
    color: #4d4d4d;
    font-size: 1.6rem;
}
.mainContainer__left > div.buttonJoin {
    width: fit-content;
    cursor: pointer;
    user-select: none;
    transition: all 0.2s;
    margin-top: 0.8rem;
    font-size: 1.5rem;
    background: rgb(197, 44, 208);
    color: white;
    padding-inline: 1.2rem;
    padding-block: 0.6rem;
    border-radius: 20px;
}
