.allUserProfile {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    gap: 1.2rem;
    align-items: center;
}
.userCard {
    display: flex;
    gap: 1.2rem;
    padding: 1.3rem;
    cursor: pointer;
    align-items: center;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.1);
}
.userCard__image {
    width: 10%;
    border-radius: 50%;
}
